main .form input,
main .form textarea, main .form select{
    width: 100%;
    max-width: 50rem;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #fef102;
    outline: none;
    background-color: white;
    color: rgb(102 102 102);
}

main .form textarea {
    height: 160px;
}
