.columns > div {
  display: flex;
  flex-flow: column wrap;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  padding: 10px;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

body.newproducts main .columns.columns-4-cols img {
  width: 30%;
}

@media (min-width: 768px) {
  body.newproducts main .columns.columns-4-cols img {
    width: 60%;
  }

  .columns > div {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    width: 50%;
  }

  .columns.columns-3-cols > div > div {
    width: 33.333%;
  }

  .columns.columns-4-cols > div > div {
    width: 50%;
  }

  body.partypacks .columns > div {
    max-width: 900px;
  }

  body.newproducts .columns > div {
    max-width: 1140px;
  }
}

@media (min-width: 1024px) {
  .columns.columns-4-cols > div > div {
    width: 25%;
  }
}
