.devider {
    width: 110px;
    border-top: 1px solid var(--header-background-color);
    display: flex;
    flex-grow: 1;
}

.liquer-navigation h3 {
    flex-grow: 4;
    margin: 0;
}

.liquer-navigation p, .liquer-navigation a.button.primary {
    margin: 0;
    min-width: 160px;
}

.liquer-navigation-button-container {
    min-width: 160px;
}

.liquer-navigation {
    display: flex;
    margin-bottom: 520px;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
