.divider {
    min-width: 30px;
    max-width: 100px !important;
    border-top: 1px solid var(--header-background-color);
    display: flex;
}

.liquer-navigation h3 {
    flex-grow: 4;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
}


.liquer-navigation p, .liquer-navigation a.button {
    margin: 0;
    max-width: 80px;
    min-width: 40px;
    font-size: 11px;
}

@media (min-width: 450px) {
    .liquer-navigation h3 {
        font-size: 14px;
    }

    .divider {
        width: 50px;
    }
}

@media (min-width: 767px) {
    .liquer-navigation h3 {
        font-size: 16px;
    }

    .divider {
        width: 80px;
    }
}

@media (min-width: 860px) {
    .liquer-navigation h3 {
        font-size: 24px;
    }

    .divider {
        width: 120px;
    }


    .liquer-navigation p, .liquer-navigation a.button {
        max-width: 90px;
        min-width: 80px;
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    .liquer-navigation h3 {
        font-size: 28px;
    }

    .divider {
        width: 150px;
    }
}

.liquer-navigation {
    margin-top:50px;
    display: flex;
    margin-bottom: 520px;
    width: 100%;
    max-width: 1040px !important;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.liquer-navigation div:nth-of-type(3){
    text-align: center;
}

