.liquer-container .liquers {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 860px;
}

.liquer-container .liquer-item {
  border-bottom: 1px solid var(--header-background-color);
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
}

.liquer-container .liquer-item .liquer-info {
  display: flex;
  flex-direction: column;
}

.liquer-container .liquer-item a {
  margin: 0 auto;
  font-size: var(--button-font-size);
  font-weight: bold;
  font-family: var(--heading-font-family);
  fill: var(--background-color);
  color: var(--background-color);
  background-color: var(--header-background-color);
  padding: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 1;
}

.liquer-container .liquer-item img {
  width: 180px;
  height: 300px;
}
