.hard-seltzer-container .hard-seltzers {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 860px;
  align-items: center;
}

.hard-seltzer-container .hard-seltzer-item {
  border-bottom: 1px solid var(--header-background-color);
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.hard-seltzer-container .hard-seltzer-item .hard-seltzer-part-1 {
  display: flex;
  flex-direction: column;
}

.hard-seltzer-container .hard-seltzer-item img {
  width: 180px;
  height: 300px;
}

@media (min-width: 1000px) {
  .hard-seltzer-container .hard-seltzer-item {
    flex-direction: row;
  }

  .hard-seltzer-container .hard-seltzer-item.right {
    flex-direction: row-reverse;
  }
}
