footer {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--footer-text-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}