/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #FEF103;
  --background-color: #000;
  --header-background-color: #FEF103;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #FFF;
  --footer-text-color: #7A7A7A;
  --heading-white: #F4F4F4;

  /* fonts */
  --body-font-family: opensansregular, 'OpenSansRegular Fallback', sans-serif;
  --heading-font-family: oswald, 'Oswald Fallback', sans-serif;
  --heading-font-family-product: 'Covered By Your Grace', 'Covered By Your Grace Fallback', sans-serif;
  --fixed-font-family: menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 34px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;
  --footer-font-size: 14px;
  --footer-link-font-family: var(--body-font-family);
  --footer-body-font-family: var(--heading-font-family);

   /* font weights */
  --font-weight-xs: 300;
  --font-weight-s: 400;
  --font-weight-m: 500;
  --font-weight-l: 600;
  --font-weight-lplus: 700;
  --font-weight-xl: 900;

  /* nav height */
  --nav-height: 120px;
}

@media (min-width: 1000px) {
  :root {
    --nav-height: 109px;
  }
}

@font-face {
  font-family: 'OpenSansRegular Fallback';
  font-style: normal;
  font-weight: normal;
  src: local('Arial');
  ascent-override: 99.49%;
  descent-override: 27.58%;
  line-gap-override: 0.00%;
  size-adjust: 105.33%;
}

@font-face {
  font-family: 'Oswald Fallback';
  font-style: normal;
  font-weight: normal;
  src: local('Arial');
  ascent-override: 137.74%;
  descent-override: 38.19%;
  line-gap-override: 0.00%;
  size-adjust: 85.93%;
}

@font-face {
  font-family: 'Oswald Fallback';
  font-style: normal;
  font-weight: var(--font-weight-xs);
  src: local('Arial');
  ascent-override: 141.65%;
  descent-override: 35.44%;
  line-gap-override: 0.00%;
  size-adjust: 77.42%;
}

@font-face {
  font-family: 'Oswald Fallback';
  font-style: normal;
  font-weight: bold;
  src: local('Arial Bold');
  ascent-override: 146.46%;
  descent-override: 41.90%;
  line-gap-override: 0.00%;
  size-adjust: 79.94%;
}

@font-face {
  font-family: 'Covered By Your Grace Fallback';
  font-style: normal;
  font-weight: normal;
  src: local('Arial');
  ascent-override: 118.71%;
  descent-override: 46.92%;
  line-gap-override: 0.00%;
  size-adjust: 83.99%;
}

body {
  font-size: var(--body-font-size);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-l);
  line-height: 1.25;
  margin-top: 28px;
  margin-bottom: 10px;
  scroll-margin: calc(var(--nav-height) + 1em);
  color: var(--header-background-color);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-m); font-weight: var(--font-weight-lplus) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--header-background-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size);
  font-weight: bold;
  margin: 0;
  padding: 9px 13px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  cursor: pointer;
  text-decoration: underline;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border-style: solid;
  border-width: 2px;
  border-color: var(--header-background-color);
  color: var(--text-color);
  text-transform: none;
  padding: 8px 24px;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 10px;
  margin: 0;
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* Themes */

.faq-theme main {
  background-image: url('https://main--sazerac-99brandparty--hlxsites.hlx.live/media/recipes-background-landing-left.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1025px) {
  .faq-theme main {
    background-attachment: fixed;
  }
}

.faq-theme .section {
  margin: 0 31% 0 24%;
}


body.hardseltzer main {
  background: linear-gradient(
    rgba(0 0 0 / 70%),
    rgba(0 0 0 / 70%)
  ), url('/media/slider-recipes.png');
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 1024px) {
  body.hardseltzer main {
    background: url('/media/slider-recipes.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.product-background {
  background-repeat: no-repeat;
}

.button-container {
  margin: 0;
}

/* the liquer image on the products pages */
.liquer-section .columns-img-col {
  max-width: 130px;
  padding-right: 130px;
  padding-top: 115px
}

@media (min-width: 900px) {
  /* the description and two buttons next to the liquer image */
  .liquer-section > div > div > div > div:nth-child(2) {
    padding-top: 160px;
  }
}

.liquer-section>div {
  border-bottom: 1px solid var(--header-background-color);
}

.liquer-section {
  display: flex;
  justify-content: center;
}

.recipe-left-image {
  min-width: 200px;
  padding-right: 30px;
}

.recipe-left-image p {
  text-align: center;
  color: var(--heading-white);
  font-family: var(--heading-font-family-product);
  font-size: 24px;
  font-weight: var(--font-weight-l);
  margin: 0;
}

.recipes-made-with-content h3, .recipes-made-with-image p{
  margin: 0;
}

.center-section {
  text-align: center;
  text-transform: uppercase;
}

.section p {
  color: #E0E0E0;
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-l);
  margin: 0 0 10px;
}

.recipes-theme>main p:first-of-type {
  margin:0 0 10px;
  color: var(--heading-white);
  font-family: var(--heading-font-family);
  font-size: 28px;
  font-weight: var(--font-weight-s);
  line-height: 15px;
}

.recipes-theme>main p:nth-of-type(2) {
  margin:0 0 10px;
  color: var(--header-background-color);
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: var(--font-weight-xl);
}

.recipes-theme .columns {
  background-image: url('https://main--sazerac-99brandparty--hlxsites.hlx.live/media/slider-bg-recipes-mobile-576x1024-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.recipes-theme .columns>div {
  background-image: url('https://main--sazerac-99brandparty--hlxsites.hlx.live/media/recipes-background-landing-right.png');
  background-position: top right;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .recipes-theme .columns, .recipes-theme .columns>div  {
    background-attachment: fixed;
  }
}

.recipes-section .columns>div {
  align-items: flex-start;
}

.recipes-section .columns>div>div {
  display: flex;
  flex-wrap: nowrap;
}

.recipes-section .columns>div>div:nth-child(2) {
  max-width: 30%;
  padding-top: 100px;
}

.recipes-content h3 {
  font-family: var(--heading-font-family-product);
  font-weight: var(--font-weight-m);
  font-size: 36px;
  padding-top: 30px;
}

.recipes-made-with-content{
  color: var(--heading-white);
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-xs);
  text-transform: uppercase;
  padding-top: 35px;
}
