.locator {
  margin: 0 auto;
}

.locator-wrapper, .form-wrapper {
  width: 100%;
}

.locator-container .form, .map-container {
  padding: 0 !important;
}

.locator-container .map-container,
.locator-container .default-content-wrapper,
.locator-container .form {
  max-width: 900px;
  padding: 0 100px;
}

#locator-map {
  width: 100%;
  height: 400px;
}

.locator-container {
  display:flex;
  align-items: center;
  flex-flow: column wrap;
}

.locator-container h2 {
  font-family: OpenSansRegular, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.locator-container > div {
  max-width: 100% !important;
  min-width: 350px;
  padding: 0 !important;
}

@media (min-width: 1000px) {
  .locator-container > div {
    width: 900px !important;
  }

  main .form textarea, main .form select {
    width: 230px;
  }
}

@media (max-width: 600px) {
  a.button:any-link {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  a.button:any-link {
    font-size: 10px;
  }
}

.locator-container form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container div {
  display: flex;
  flex-flow: column wrap;
}

main .form input,
main .form textarea, main .form select {
  font-size: 20px;
  max-width: 230px;
}

.form .button {
  font-size: 14px;
  width: 95px;
  font-weight: 700;
}

.required, .disclaimer {
  color: #737373;
  font-family: OpenSansRegular, sans-serif;
  font-size: 10.6667px;
  font-weight: 700;
  height: 15.2344px;
  line-height: 15.2381px;
}

.disclaimer {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 14px;
}

.results-page span {
  color: #FFF;
  font-family: OpenSansRegular, sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 26.3984px;
  text-transform: uppercase;
}

.result {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(141 141 3);
  padding: 10px 0;
}

.result:first-of-type {
  border-top: 1.5px solid rgb(141 141 3);
  padding-top: 9px;
}

.result div {
  flex-grow: 1;
}

.result p {
  margin: 0 !important;
}

.icon-num {
  width: 46px;
  height: 46px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='24' height='24' fill-rule='evenodd' clip-rule='evenodd' version='1.1' id='svg1' sodipodi:docname='iconmonstr-location-pin-thin.svg' inkscape:version='1.3 (0e150ed, 2023-07-21)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Csodipodi:namedview id='namedview1' pagecolor='%23505050' bordercolor='%23ffffff' borderopacity='1' inkscape:showpageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='1' inkscape:deskcolor='%23505050' inkscape:zoom='35.958333' inkscape:cx='12' inkscape:cy='11.986095' inkscape:window-width='1392' inkscape:window-height='1051' inkscape:window-x='2899' inkscape:window-y='95' inkscape:window-maximized='0' inkscape:current-layer='svg1' /%3E%3Cpath d='M 12,0 C 7.802,0 4,3.403 4,7.602 4,11.8 7.469,16.812 12,24 16.531,16.812 20,11.8 20,7.602 20,3.403 16.199,0 12,0' id='path1' style='opacity:1;fill:%23fef103;fill-opacity:1' sodipodi:nodetypes='cscsc' /%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: black !important;
  font-weight: bold !important;
  font-size: 14px !important;
  font-family: oswaldlight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding-top: 9px;
}

.info-title {
  color: rgb(253 240 0) !important;
  font-family: OpenSansRegular, sans-serif;
  font-size: 14px !important;
  font-weight: 700 !important;
  height: 20px;
  line-height: 20px;
}

.info-address {
  color: white !important;
  font-family: OpenSansRegular, sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  height: 20px;
  line-height: 20px;
}

@media (max-width: 600px) {
  a.button:any-link {
    font-size: 12px;
  }

  .info-address {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  a.button:any-link {
    font-size: 10px;
  }

  .info-title {
    font-size: 12px !important;
  }

  .info-address {
    font-size: 10px !important;
  }
}

.pageination {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.pageinator-left, .pageinator-right  {
  height: 30px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='30' height='30' viewBox='0 0 7.9374998 7.9375' version='1.1' id='svg1' xml:space='preserve' inkscape:version='1.3 (0e150ed, 2023-07-21)' sodipodi:docname='paginator.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview1' pagecolor='%23505050' bordercolor='%23ffffff' borderopacity='1' inkscape:showpageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='1' inkscape:deskcolor='%23505050' inkscape:document-units='px' inkscape:zoom='20.984168' inkscape:cx='17.989753' inkscape:cy='19.06199' inkscape:window-width='1392' inkscape:window-height='1051' inkscape:window-x='3028' inkscape:window-y='124' inkscape:window-maximized='0' inkscape:current-layer='layer1' inkscape:lockguides='false' showguides='false' showgrid='false' /%3E%3Cdefs id='defs1' /%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1'%3E%3Cpath style='fill:%23ffffff;fill-opacity:1;stroke-width:0.025' d='M 2.0395727,1.7837006 3.0370069,0.57060386 5.8945231,3.9672727 3.0370069,7.4178576 2.0126143,6.1778045 3.8187805,3.9672727' id='path1' /%3E%3C/g%3E%3C/svg%3E%0A");
}

.pageinator-left {
  transform: rotate(180deg);
}

.inactive {
  display:none;
}
